{{#each flashMessages.queue as |flash|}}
  {{flash-message flash=flash}}
{{/each}}

<div class="col-md-8 col-md-offset-2">
  {{outlet}}
</div>


<footer>
  <div class='laurpaik-user'>
    {{#if isAuthenticated}}
      {{#link-to "change-password"}}Change Password{{/link-to}}
      <br/>
      <a href="#" {{action "signOut"}}>Sign Out</a>
    {{else}}
      {{#link-to "sign-in"}}Sign In{{/link-to}}
    {{/if}}
  </div>
</footer>
