<div class="component">
  <h3 class="project-name" {{action 'toggleProjectDetail'}}>{{project.title}}</h3>
  {{project-list/project
    project=project
  }}
  <img class="image" src={{project.image}}/>
</div>
<br/>
