@import 'colors';
@import url('https://fonts.googleapis.com/css?family=Righteous');

html,
body {
  background: $light-pink;
  color: $black;
  font-family: 'Righteous', cursive;
}

nav {
  float: right;
  font-size: 20px;
}

a {
  color: $pink;
}

.about-paragraph {
  font-size: 30px;
  padding: 30px;
  position: relative;
}

.project-hidden :not(:first-child) {
  display: none;
}

.project-name {
  margin: 0 40%;
}

.project-header:hover,
.project-name:hover {
  color: $pink;
  cursor: pointer;
}

.card {
  float: left;
  margin: 0 30%;
}

.image {
  clear: both;
  margin: 0 30%;
  max-height: 300px;
}

.component {
  clear: both;
}

.picture {
  margin: 0 40%;

  .profpic {
    border: 2px solid $black;
    border-radius: 100px;
    height: 200px;
    width: auto;
  }
}

.description {
  width: 500px;
}
