@import 'colors';
@import url('https://fonts.googleapis.com/css?family=Righteous');

html,
body {
  background: $light-pink;
  color: $black;
  font-family: 'Righteous', cursive;
}

nav {
  float: right;
  font-size: 20px;
}

a {
  color: $pink;
}

.about-paragraph {
  font-size: 30px;
  padding: 30px;
  position: relative;
}

.project-hidden :not(:first-child) {
  display: none;
}

.project-header:hover,
.project-name:hover {
  color: $pink;
  cursor: pointer;
}

.card {
  float: left;
}

.image {
  clear: both;
  margin: 30px;
  max-height: 300px;
}

.component {
  clear: both;
}
