<p class="about-paragraph">
  I'm a web developer who values strong communication to
  ensure quality teamwork as well as user satisfaction. As a former
  rower, I appreciate the fluidity in the field. An app is the
  perfect representation of a team, so it’s immensely
  satisfying to watch all the little pieces come together and work
  together as a unit.</p>

<div class="skills">
  <h1 class="section-title">Skills</h1>
    <h3 class="skills col-xs-3 box">JavaScript</h3>
    <h3 class="skills col-xs-3 box">HTML5</h3>
    <h3 class="skills col-xs-3 box">CSS</h3>
    <h3 class="skills col-xs-3 box">Sass</h3>
    <h3 class="skills col-xs-3 box">Bootstrap</h3>
    <h3 class="skills col-xs-3 box">Handlebars</h3>
    <h3 class="skills col-xs-3 box">Ember.js</h3>
    <h3 class="skills col-xs-3 box">Angular</h3>
    <h3 class="skills col-xs-3 box">jQuery</h3>
    <h3 class="skills col-xs-3 box">Ajax</h3>
    <h3 class="skills col-xs-3 box">Ruby</h3>
    <h3 class="skills col-xs-3 box">Ruby on Rails</h3>
    <h3 class="skills col-xs-3 box">PostgreSQL</h3>
    <h3 class="skills col-xs-3 box">Node.js</h3>
    <h3 class="skills col-xs-3 box">Express.js</h3>
    <h3 class="skills col-xs-3 box">Agile/Scrum</h3>
    <h3 class="skills col-xs-3 box">MongoDB</h3>
    <h3 class="skills col-xs-3 box">Mongoose</h3>
    <h3 class="skills col-xs-3 box">Git/GitHub</h3>
    <h3 class="skills col-xs-3 box">Python</h3>
    <h3 class="skills col-xs-3 box">React.js</h3>
</div>
