<h1>Contact me!</h1>
<p>Phone: 423-827-7981</p>
<p><a href="https://www.linkedin.com/in/lauren-paik/">LinkedIn</a></p>
<p><a href="https://github.com/laurpaik">GitHub</a></p>
<p><a class="mail-styled btn btn-default btn-s" href="mailto:laurpaik@gmail.com">laurpaik@gmail.com</a></p>
<a href="https://s3.amazonaws.com/laurpaik/portfolio/LaurenPaikResume%CC%81.pdf" download="https://s3.amazonaws.com/laurpaik/portfolio/LaurenPaikResume%CC%81.pdf" class="btn btn-default btn-s resume">Download My Resumé!</a>
